<a href="https://colab.research.google.com/github/tommybebe/til/blob/master/examples/sidetable_better_value_count.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reference
- [Pandas Sidetable Just Announced](https://towardsdatascience.com/pandas-sidetable-just-announced-708e5f65938f)

## Settings

In [1]:
!pip install sidetable

Collecting sidetable
  Downloading https://files.pythonhosted.org/packages/45/cf/d9d6ea5785788b0e748336657f60d0e73e372b4b4f25e461f0096d11b850/sidetable-0.3.0.tar.gz
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.6/dist-packages (from sidetable) (1.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0->sidetable) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=1.0->sidetable) (1.12.0)
Building wheels for collected packages: sidetable
  Building wheel for sidetable (setup.py) ... done
  Created wheel for sidetable: filename=sidetable-0.3.0-cp36-none-any.whl size=9391 sha256=7220e3b3af88cf9e2168312c7bac12968139baf1f9412d59e9b24ff2ec265f95
  Stored in directory: /root/.cache/pip/wheels/cb/89/c8/8523a369438a97da6e37ade1cf5bb7ba6f7638a42ebc22594c
Successfully built sidetable
Installing collected packages: sidetable
Successfully installed sidetable-0.3.0

## Codes

### get dummy data

In [0]:
import pandas as pd
import numpy as np
import sidetable

In [21]:
import seaborn as sns

df = sns.load_dataset('mpg')
df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

### pandas value_count

In [49]:
df.model_year.value_counts()[:5]

73    40
78    36
76    34
82    31
75    30
Name: model_year, dtype: int64

In [50]:
df.model_year.value_counts(normalize=True)[:5]

73    0.100503
78    0.090452
76    0.085427
82    0.077889
75    0.075377
Name: model_year, dtype: float64

### sidetable's

In [51]:
df.stb.freq(['model_year'])[:5]

   model_year  Count   Percent  Cumulative Count  Cumulative Percent
0          73     40  0.100503                40            0.100503
1          78     36  0.090452                76            0.190955
2          76     34  0.085427               110            0.276382
3          82     31  0.077889               141            0.354271
4          75     30  0.075377               171            0.429648

In [52]:
df.stb.freq(['model_year'], thresh=.5, other_label='other year')

   model_year  Count   Percent  Cumulative Count  Cumulative Percent
0          73     40  0.100503                40            0.100503
1          78     36  0.090452                76            0.190955
2          76     34  0.085427               110            0.276382
3          82     31  0.077889               141            0.354271
4          75     30  0.075377               171            0.429648
5  other year    227  0.570352               398            1.000000

In [55]:
df.stb.freq(['model_year','origin'], thresh=.3)

  model_year  origin  Count   Percent  Cumulative Count  Cumulative Percent
0         73     usa     29  0.072864                29            0.072864
1         79     usa     23  0.057789                52            0.130653
2         78     usa     22  0.055276                74            0.185930
3         76     usa     22  0.055276                96            0.241206
4         70     usa     22  0.055276               118            0.296482
5     Others  Others    280  0.703518               398            1.000000

In [57]:
df[df.origin == 'usa'].stb.freq(['model_year'], thresh=.5)

  model_year  Count   Percent  Cumulative Count  Cumulative Percent
0         73     29  0.116466                29            0.116466
1         79     23  0.092369                52            0.208835
2         78     22  0.088353                74            0.297189
3         76     22  0.088353                96            0.385542
4         70     22  0.088353               118            0.473896
5     Others    131  0.526104               249            1.000000

In [58]:
df.stb.freq(['origin'], value='mpg', thresh=.95)

   origin     mpg   Percent  Cumulative mpg  Cumulative Percent
0     usa  5000.8  0.534342          5000.8            0.534342
1   japan  2405.6  0.257042          7406.4            0.791384
2  Others  1952.4  0.208616          9358.8            1.000000

In [59]:
df.stb.freq(['origin'], value='mpg', thresh=.95, style=True)